.date-picker-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.react-datepicker {
  display: flex;
  flex-direction: row;
}

.react-datepicker__month-container {
  width: 50%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.cancel-btn,
.apply-btn {
  background-color: #212121;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-btn {
  background-color: #f04e22;
}

.cancel-btn:hover,
.apply-btn:hover {
  opacity: 0.9;
}
